{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["IE >= 11"]
        },
        "useBuiltIns": "usage",
        "debug": true
      }
    ],
  ],
  "retainLines": true
}
