$navbar-height: 60px;
$hamburger-height: 30px;
$hamburger-width: 40px;
$hamburger-layer--height: 6px;
$hamburger-color: $c-white;

.navbar {
	min-height: $navbar-height;
	position: relative;
	text-align: center;

	&.sticky {
		@include position(fixed, 0 0 null 0);
		border-top: 0;
		width: 100%;
		z-index: 100;
	}

	.nav {
		@include padding($navbar-height null $base-spacing);
		display: none;
		line-height: $navbar-height;
		margin: auto;


		@media only screen and (min-width: 1150px) {
			@include padding(0 null);
			display: block;
		}



		li {
			@include padding(10px null);
			display: block;
			line-height: 1;



			@media only screen and (min-width: 1150px) {
				border-right: 1px solid $c-white-50;
				display: inline-block;

				&:last-child {
					border-right: 0;
				}
			}


			&.active {
				.nav__item {
					color: $c-white;
				}
			}
		}

		&__item {
			@include padding(null 24px);
			color: $c-white-70;
			font-size: 18px;
			position: relative;
			text-transform: uppercase;
			top: 3px;
			transition: color 0.5s;

			@media only screen and (min-width: 1350px) {
				@include padding(null 36px);
			}

			@media only screen and (min-width: 1500px) {
				@include padding(null 48px);
			}

			.active & {
				color: $c-white;
			}

			&:focus,
			&:hover {
				color: $c-white;
				outline: none;
			}
		}
	}
}



.hamburger {
	@include position(absolute, 15px $base-spacing null null);
	@include size($hamburger-width, $hamburger-height);
	display: block;
	z-index: 2;

	@media only screen and (min-width: 1150px) {
		display: none;
	}

	&__inner {
		@include size($hamburger-width, $hamburger-layer--height);
		background: $hamburger-color;
		display: block;
		margin-top: $hamburger-layer--height * 2;
		transition: all 0.4s ease-in-out;

		&::before,
		&::after {
			@include size($hamburger-width, $hamburger-layer--height);
			background: $hamburger-color;
			content: "";
			display: block;
			position: absolute;
			transition: all 0.4s ease-in-out;
			z-index: -1;
		}

		&::before {
			top: 0;
		}

		&::after {
			top: $hamburger-layer--height * 4;
		}

		// Clicked State
		.hamburger--open & {
			background: none;

			&::before,
			&::after {
				top: $hamburger-layer--height * 2;
			}

			&::before {
				transform: rotate(-45deg);
			}

			&::after {
				transform: rotate(45deg);
			}
		}
	}
}
