.cd-container {
	@include clearfix;
	margin: 0 auto;
	max-width: 1170px;
	width: 90%;
}


#cd-timeline {
	@include margin(($base-spacing + $small-spacing) null);
	@include padding(($base-spacing + $small-spacing) null);
	position: relative;

	&::before {
		@include size(4px, 100%);
		background: $c-off-white;
		content: "";
		left: 18px;
		position: absolute;
		top: 0;
	}

	@media only screen and (min-width: 1170px) {
		@include margin(($base-spacing * 2) null);


		&::before {
			left: 50%;
			margin-left: -2px;
		}
	}
}


.cd-timeline-block {
	@include margin(($base-spacing + $small-spacing) null);
	@include clearfix;
	position: relative;




	@media only screen and (min-width: 1170px) {
		@include margin(($base-spacing * 2.5) null);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&:nth-child(even) {
		.cd-timeline-content {
			float: right;

			&::before {
				border-color: transparent;
				border-right-color: $c-white;
				left: auto;
				right: 100%;
				top: 24px;
			}

			.cd-date {
				left: auto;
				right: 122%;
				text-align: right;
			}
		}
	}

}

.cd-timeline-img {
	@include size(40px);
	@include position(absolute, 0 null null 0);
	border-radius: 50%;
	box-shadow: 0 0 0 4px $c-white, inset 0 2px 0 rgba($c-black, 0.08), 0 3px 0 4px rgba($c-black, 0.05);

	img {
		@include size(24px);
		@include margin(-12px null null -12px);
		@include position(relative, 50% null null 50%);
		display: block;
	}

	&.cd-picture {
		background: $c-green;
	}

	&.cd-movie {
		background: $c-red;
	}

	&.cd-location {
		background: $c-yellow;
	}

	@media only screen and (min-width: 1170px) {
		@include size(60px);
		-webkit-backface-visibility: hidden;
		-webkit-transform: translateZ(0);
		left: 50%;
		margin-left: -30px;
	}
}



.cd-timeline-content {
	@include clearfix;
	@include padding(1em);
	background: $c-white;
	border-radius: $base-border-radius;
	box-shadow: 0 3px 0 $c-off-white;
	color: $c-black;
	margin-left: 60px;
	position: relative;

	h2 {
		color: $c-blue-primary;
	}

	p,
	.cd-date {
		font-size: 13px;
	}

	.cd-date {
		@include padding($small-spacing null);
		opacity: 0.7;
	}

	&::before {
		@include size(0);
		@include position(absolute, 16px 100% null null);
		border: 7px solid transparent;
		border-right: 7px solid $c-white;
		content: "";
	}

	@media only screen and (min-width: 768px) {
		h2 {
			font-size: 20px;
		}

		p {
			font-size: 16px;
		}

		.cd-date {
			font-size: 14px;
		}
	}

	@media only screen and (min-width: 1170px) {
		margin-left: 0;
		padding: $base-spacing;
		width: 45%;

		&::before {
			border-color: transparent;
			border-left-color: $c-white;
			left: 100%;
			top: 24px;
		}

		.cd-date {
			@include position(absolute, 10px null null 122%);
			color: $c-white;
			font-size: 20px;
			line-height: 1;
			width: 100%;
		}
	}
}







.cssanimations {
	@media only screen and (min-width: 1170px) {

		.cd-timeline-img {
			&.is-hidden {
				visibility: hidden;
			}

			&.bounce-in {
				animation: cd-bounce-1 0.6s;
				visibility: visible;
			}
		}

		.cd-timeline-block {
			&:nth-child(even) {
				.cd-timeline-content {
					&.bounce-in {
						animation: cd-bounce-2-inverse 0.6s;
					}
				}
			}
		}

		.cd-timeline-content {
			&.is-hidden {
				visibility: hidden;
			}

			&.bounce-in {
				animation: cd-bounce-2 0.6s;
				visibility: visible;
			}
		}
	}
}
