// Typography
$primary-font-family: "AdobeTextPro";
$secondary-font-family: "Acumin Pro";
$heading-font-family: $primary-font-family;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 24px;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$c-white: #fff;
$c-black: #000;
$c-off-white: #f1f2f2;
$c-blue-primary: #111c4e;
$c-blue-alt: #112d50;
$c-blue-lite: #003b71;
$c-red-primary: #e1251b;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$c-black-12: rgba($c-black, .12);
$c-black-60: rgba($c-black, .6);

$c-white-04: rgba($c-white, 0.04);
$c-white-50: rgba($c-white, 0.5);
$c-white-70: rgba($c-white, 0.7);
$c-white-85: rgba($c-white, 0.85);

$c-blue-alt-50: rgba($c-blue-alt, 0.5);

$c-green: #75ce66;
$c-red: #c03b44;
$c-yellow: #f0ca45;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $c-blue-primary;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: #fff;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
