html {
	background-color: $viewport-background-color;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
}

.page-content {
	position: relative;
}


.page-section,
.small-section {
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	display: block;
	overflow: hidden;
	position: relative;
	width: 100%;

	.mobile & {
		background-attachment: scroll;
	}

	@media only screen and (max-width: 1024px) {
		background-attachment: scroll;
	}
}


.page-section {
	@include padding(60px null);

	@media only screen and (min-width: 480px) {
		@include padding(80px null);
	}

	@media only screen and (min-width: 768px) {
		@include padding(120px null);
	}

	@media only screen and (min-width: 1024px) {
		@include padding(140px null);
	}
}


.small-section {
	@include padding(30px null);

	@media only screen and (min-width: 480px) {
		@include padding(50px null);
	}

	@media only screen and (min-width: 768px) {
		@include padding(70px null);
	}
}


.container,
.container--fluid {
	@include grid-container;
	@include margin(null auto);
	@include padding(null 40px);
}

.container {
	max-width: 1120px;
}

.container--fluid {
	max-width: 100%;
}

.row {
	@include clearfix;
	@include margin(null auto);
}


.d-block {
	display: block;
}
