@import "../../node_modules/bourbon/core/bourbon";
@import "../../node_modules/bourbon-neat/core/neat";
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "normalize";
@import "fonts";
@import "base/**/*";
@import "components/**/*";

.expander {
	text-align: center;

	.expander-trigger {
		color: rgba($c-blue-alt, 0.5);
		cursor: pointer;
		display: inline-block;
		text-align: center;
		transition: color 0.3s ease;

		span {
			display: block;
			font-family: $secondary-font-family;
			font-size: 16px;
			margin-bottom: 12px;
			text-transform: uppercase;
		}

		svg {
			height: 24px;
			opacity: 0.5;
			stroke: $c-blue-alt;
			transform: rotate(180deg);
			transition: opacity, transform 0.3s ease;
		}

		&:focus {
			outline: none;
		}

		&:hover {
			color: $c-blue-alt;

			svg {
				opacity: 1;
			}
		}
	}

	.expander-hidden {

		svg {
			transform: rotate(0deg);
		}

		+.expander-content {
			display: none;
		}
	}

	ul {
		@include grid-column(12);
		font-size: 20px;

		@media only screen and (min-width: 768px) {
			@include grid-column(4);
		}
	}
}
